Django==1.6.5
Fabric==1.10.0
Markdown==2.1.0
PIL==1.1.7
Pillow==2.5.3
PyMySQL==0.6.2
PyRSS2Gen==1.0.0
PyYAML==3.11
Pygments==1.6
SQLAlchemy==0.9.7
South==0.8.4
Twisted==20.3.0
altgraph==0.10.1
amqp==1.4.5
amqplib==1.0.2
anyjson==0.3.3
argparse==1.2.1
autobahn==0.9.0
bdist-mpkg==0.4.4
billiard==3.3.0.17
bonjour-py==0.3
celery==3.1.5
celery-with-redis==3.0
chardet==2.2.1
colorama==0.3.2
configobj==5.0.6
coverage==3.7.1
django-celery==3.1.10
django-celery-admin==0.1
django-celery-transactions==0.1.3
django-celery-with-redis==3.0
django-crispy-forms==1.4.0
django-debug-toolbar==1.2.1
django-debug-toolbar-line-profiler==0.4.0
django-debug-toolbar-template-timings==0.6.1
django-filebrowser==3.5.6
django-filter==0.5.4
django-form-utils==1.0.1
django-grappelli==2.5.3
django-jsonfield==0.9.3
django-kombu==0.9.4
django-modeldict==1.4.1
django-mongodb-engine==0.5.1
django-multiuploader==0.2.9
django-nose==1.2
django-pretty-times==0.1.0
django-social-auth==0.7.28
django-widget-tweaks==1.3
djangorestframework==2.3.13
djangotoolbox==1.6.2
djangular==0.2.7
dnspython==1.12.0
ecdsa==0.11
elasticsearch==1.2.0
falcon==0.1.10
gargoyle==0.10.10
gevent==1.0.1
gnureadline==6.3.3
google-api-python-client==1.2
greenlet==0.4.3
html5lib==0.999
httpie==0.8.0
httplib2==0.9
image==1.3.2
ipython==2.2.0
itsdangerous==0.24
kombu==3.0.12
lazr.uri==1.0.3
libmagic==1.0
line-profiler==1.0b3
macholib==1.5
matplotlib==1.1.1
modulegraph==0.10.1
nexus==0.3.0
nltk==3.0.0
nose==1.3.1
numpy==1.6.2
oauth2==1.5.211
pam==0.1.4
paramiko==1.15.1
peewee==2.3.3
pika==0.9.13
psutil==2.1.0
py2app==0.7.1
pyOpenSSL==0.13
pycrypto==2.6.1
pylibmc==1.3.0
pymongo==2.7.1
pyobjc-core==2.3.2a0
pyobjc-framework-AddressBook==2.3.2a0
pyobjc-framework-AppleScriptKit==2.3.2a0
pyobjc-framework-AppleScriptObjC==2.3.2a0
pyobjc-framework-Automator==2.3.2a0
pyobjc-framework-CFNetwork==2.3.2a0
pyobjc-framework-Cocoa==2.3.2a0
pyobjc-framework-Collaboration==2.3.2a0
pyobjc-framework-CoreData==2.3.2a0
pyobjc-framework-CoreLocation==2.3.2a0
pyobjc-framework-CoreText==2.3.2a0
pyobjc-framework-DictionaryServices==2.3.2a0
pyobjc-framework-ExceptionHandling==2.3.2a0
pyobjc-framework-FSEvents==2.3.2a0
pyobjc-framework-InputMethodKit==2.3.2a0
pyobjc-framework-InstallerPlugins==2.3.2a0
pyobjc-framework-InstantMessage==2.3.2a0
pyobjc-framework-InterfaceBuilderKit==2.3.2a0
pyobjc-framework-LatentSemanticMapping==2.3.2a0
pyobjc-framework-LaunchServices==2.3.2a0
pyobjc-framework-Message==2.3.2a0
pyobjc-framework-OpenDirectory==2.3.2a0
pyobjc-framework-PreferencePanes==2.3.2a0
pyobjc-framework-PubSub==2.3.2a0
pyobjc-framework-QTKit==2.3.2a0
pyobjc-framework-Quartz==2.3.2a0
pyobjc-framework-ScreenSaver==2.3.2a0
pyobjc-framework-ScriptingBridge==2.3.2a0
pyobjc-framework-SearchKit==2.3.2a0
pyobjc-framework-ServiceManagement==2.3.2a0
pyobjc-framework-SyncServices==2.3.2a0
pyobjc-framework-SystemConfiguration==2.3.2a0
pyobjc-framework-WebKit==2.3.2a0
pyobjc-framework-XgridFoundation==2.3.2a0
pyserial==2.7
pysqlite==2.6.3
python-dateutil==1.5
python-magic==0.4.6
python-memcached==1.53
python-mimeparse==0.1.4
python-openid==2.2.5
pytz==2014.2
redis==2.9.1
requests==2.3.0
scipy==0.11.0
selenium==2.42.1
simple-crypt==3.0.2
simplejson==3.5.2
simplekv==0.9.2
six==1.8.0
sleekxmpp==1.3.1
sorl-thumbnail==11.12
splinter==0.6.0
sqlparse==0.1.11
ssh-import-id==3.21
stevedore==0.15
tweepy==2.3.0
twilio==3.6.6
uWSGI==2.0.6
urllib3==1.9
uwsgitop==0.8
vboxapi==1.0
virtualenv==1.11.6
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
wadllib==1.3.2
web2py==2.1.1
wokkel==0.7.1
wsgiref==0.1.2
xattr==0.6.4
zope.interface==4.1.1
